body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: aqua;
    text-align: center;
}
  
.logosi {
    color: brown;
    font-size: 40px;
    font-family: fantasy;
}

header input {
    font-size: 20px;
    margin: 20px;
}

.newsli{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

.newsl1{
    text-align: center;
    padding: 50px;
    color: purple;
    font-size: 50px;
    
}